<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на платник</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        input{
            width: 80%;
            margin-bottom: 15px;
            }
    </style>
</head>
<body>
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reg">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
          <body style="background: url(https://storebox.com.ua/data/shop/16625462325cbac6924c0fe.jpg);">
	<form method="POST">{% csrf_token %}
        <p>Перед регистрацией, прочитайте<a href="{% url 'how_works' %}"> как работает оплата</a></p>
		<p style="margin-bottom: 5px;">Ваш ник в PubgM</p>
        <div class="form">{{ form.username }}</div>
        <p style="margin-bottom: 5px;">Ваш VK</p>
        <div class="form">{{ form.vk }}</div>
        <input type="checkbox" name="option2" value="a2" style="
    width: 20px;
    height: 20px;
    margin-bottom: 0px;
    margin-right: 10px;">В коммнетриях  переводу на киви 8 926 649 29 11 я указал свой ник в PUBGM (30 рублей)<Br>

	  <center style="margin-top: 10px;">
	  <input class="btn btn-danger" type="submit" name="enter" value="Зарегистрироваться" style="margin-bottom: 0px;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><a href="{% url 'main_list' %}" style="text-decoration: none;"><font color="white">Закрыть</font></a></button>
        </center>
      </div>
	  </form>

    </div>
  </div>
</div>
</body>
</html>