<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация сквады</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        input{
            width: 80%;
            margin-bottom: 15px;
            }
    </style>
</head>
<body>
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reg">Регистрация сквада</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
          <body style="background: url(https://storebox.com.ua/data/shop/16625462325cbac6924c0fe.jpg);">
	<form method="POST">{% csrf_token %}
        <p>Здесь вы можете также зарегистрироваться в дуо или соло</p>
		<p style="margin-bottom: 5px;">Ник капитана команды в PUBGM</p>
        <div class="form">{{ form.username1 }}</div>
        <hr>
        <p style="margin-bottom: 5px;">Ник второго члена команды (неоябзательно)</p>
        <div class="form">{{ form.username2 }}</div>
        <hr>
        <p style="margin-bottom: 5px;">Ник третьего члена команды (неоябзательно)</p>
        <div class="form">{{ form.username3 }}</div>
        <hr>
        <p style="margin-bottom: 5px;">Ник четвёртого члена команды (неоябзательно)</p>
        <div class="form">{{ form.username4 }}</div>

	  <center style="margin-top: 10px;">
	  <input class="btn btn-danger" type="submit" name="enter" value="Зарегистрироваться" style="margin-bottom: 0px;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><a href="{% url 'main_list' %}" style="text-decoration: none;"><font color="white">Закрыть</font></a></button>
        </center>
      </div>
	  </form>

    </div>
  </div>
</div>
</body>
</html>